rules:
    - AssoConnect\PHPStanRules\Rules\EnforceHttpsLinksInPhpDocRule
    - AssoConnect\PHPStanRules\Rules\EnforceHttpsLinksInStringScalarRule

includes:
    - %currentWorkingDirectory%/vendor/ekino/phpstan-banned-code/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-phpunit/extension.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-phpunit/rules.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-strict-rules/rules.neon
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - %currentWorkingDirectory%/vendor/roave/no-floaters/rules.neon
